{% extends 'base.html' %}

{% block title %}
<title>Users edit: {{ user.first_name }} {{ user.last_name }}</title>
{% endblock %}

{% block content %}
    <h1>Users edit: {{ user.first_name }} {{ user.last_name }}</h1>
    <a href="{{ url_for('users') }}" class="btn btn-info">Users</a>

    {% if message %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    <form method="POST">
        <div class="mb-3">
            <label class="form-label">First name</label>
            <input type="text" class="form-control" name="first_name" value="{{ user.first_name }}">
          </div>
          <div class="mb-3">
            <label class="form-label">Last name</label>
            <input type="text" class="form-control" name="last_name" value="{{ user.last_name }}">
          </div>
          <div class="mb-3">
            <label class="form-label">Age</label>
            <input type="number" class="form-control" name="age" value="{{ user.age }}">
          </div>
          <div class="mb-3">
            <label class="form-label">Location</label>
            <input type="text" class="form-control" name="location" value="{{ user.location }}">
          </div>
          <div class="mb-3">
            <label class="form-label">Country</label>
            <input type="text" class="form-control" name="country" value="{{ user.country }}">
          </div>
          <button type="submit" class="btn btn-primary">Send</button>
    </form>
    {% endblock %}